<app-header></app-header>
<div id="event-container" class="container">
    <div class="intro-section">
        <h1>Đặt mua vé</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Thông tin người mua</h2>
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
            </form>
            <div class="ticket-category-actions">
              <button class="btn btn-primary" (click)="addToCart()">Thêm vào giỏ hàng</button>
            </div>
            <div class="ticket-category-quantity">
              <div class="border-wrapper">
                <button (click)="decreaseQuantity()">-</button>
                <input type="text" [value]="quantity">
                <button (click)="increaseQuantity()">+</button>
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <div id="ticket-category-detail">
            <h2>Thông tin chi tiết vé:  {{ ticketCategory?.category_name }}</h2>
            <p>Giá vé: {{ ticketCategory?.price | currency: 'VND' }}</p>
            <p>Số lượng còn lại: {{ ticketCategory?.remaining_count }}</p>
          </div>
          
        </div>
    </div>
</div>
<app-footer></app-footer>