<div class="row">
    <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block bg-light sidebar">
      <div class="position-sticky">
        <h4 class="text-center mt-2">Quản lý dữ liệu</h4>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-dark" 
                routerLink="/"
                routerLinkActive="active">
                <i class="fas fa-house"></i> Trang chủ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark" 
                routerLink="/admin/categories"
                routerLinkActive="active">
                <i class="fas fa-boxes"></i> Các loại sự kiện
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark" 
              routerLinkActive="active">
              <i class="fab fa-codepen icon"></i>Sự kiện
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-md-10 col-lg-10 overflow-auto">
      <!-- <ng-container [ngSwitch]="adminComponent">
        <app-categories-admin *ngSwitchCase="'categories'"></app-categories-admin> 
        <app-categories-insert-admin *ngSwitchCase="'categories-insert'"></app-categories-insert-admin>                   
      </ng-container> -->
      <router-outlet></router-outlet>
    </div>
