#event-container .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    cursor: pointer;
}

#event-container .card-body {
    flex-grow: 1;
}

/* Optional: to add "..." after text overflows */
.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
}

.category-item {
    text-align: center;
    padding: 0.3rem;
    cursor: pointer;
    border: 1px white solid;
    border-radius: 10px;
}

.category-item:hover {
    background-color: white;
    color: rgb(45, 194, 117);
}