<app-header></app-header>
<div class="container">
    <h2>Chi tiết đơn hàng đặt vé của tôi</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên loại vé</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Trạng thái vé</th>
                            <th scope="col">Email người mua</th>
                            <th scope="col">Tên người mua</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ticket of tickets">
                            <th scope="row">{{ ticket.id }}</th>
                            <th scope="row">{{ ticket.ticket_category_name }}</th>
                            <th scope="row">{{ ticket.price }}</th>
                            <th scope="row">{{ ticket.status }}</th>
                            <td>{{ ticket.user_email }}</td>
                            <td>{{ ticket.user_name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
