.btn-success {
    background-color: purple !important; /* Đổi màu nền thành tím */
    color: white !important;            /* Đổi màu chữ thành trắng */
    border: none !important;            /* Bỏ viền */
  }
  
  .btn-success:hover {
    background-color: darkviolet !important; /* Màu nền khi hover */
  }

  .btn-excel{
    margin-right: 0.3rem;
  }
  