<app-header></app-header>
<div class="container-fluid">
  <div id="event-container" class="row">
    <h2 class="text-center mt-4 mb-5">Chi tiết sự kiện</h2>
    <div class="col-md-12 d-flex justify-content-center">
        <div class="ticket-wrapper">
            <div class="ticket-image-large">
                <img [src]="event?.event_images?.[0]?.image_url || 'default-image.jpg'" alt="Event Image">
            </div>
            <div class="ticket-divider"></div>
            <div class="ticket-content">
                <h2 class="ticket-title">{{ event?.name }}</h2>
                <p class="ticket-description">{{ event?.description }}</p>
                <div class="ticket-details">
                    <p><i class="fas fa-map-pin"></i> Địa điểm: {{ event?.location }}</p>
                    <p><i class="far fa-calendar"></i> Thời gian: {{ formattedStartDate }} - {{ formattedEndDate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container" id="ticket-categories-container">
        <h2>Các loại vé</h2>
        <div class="ticket-categories">
          <table class="table table-striped" *ngIf="ticketCategories && ticketCategories.length > 0; else noTicketCategories">
            <thead>
              <tr>
                <th>Loại vé</th>
                <th>Giá (VND)</th>
                <th>Số vé còn lại</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticketCategory of ticketCategories">
                <td>{{ ticketCategory.category_name }}</td>
                <td>{{ ticketCategory.price | currency: 'VND' }}</td>
                <td>{{ ticketCategory.remaining_count }}</td>
                <td>
                  <!-- (click)="onOrderTicket(ticketCategory.id)" -->
                  <button class="btn btn-primary" (click)="goToTicketCategoryDetail(ticketCategory.id)" >Đặt mua</button>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-template #noTicketCategories>
            <h1 class="text-center">Sự kiện này chưa mở bán vé. Vui lòng quay lại sau bạn nhé!</h1>
          </ng-template>
        </div>
    </div>
    <div class="container" id="organization-container">
        <h2 class="text-center mt-4 mb-5">Ban tổ chức sự kiện: {{ organization?.name }}</h2>
    </div>
</div>
<app-footer></app-footer>