<app-header></app-header>
<div id="login-container" class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="register-form mx-auto">
                <h2 class="register-header">Đăng ký</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email">
                    <div class="divide-nospace"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>